/* Info block. Uses CDI variables from CdiTemplate .root. */

.infoBlock {
    margin: 0;
    padding: 0;
}

.infoWrapper {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--cdi-foreground);
}

.infoWrapper p {
    margin: 0 0 0.5rem;
}

.infoWrapper p:last-child {
    margin-bottom: 0;
}
